<div class="container my-3">
	<ul>
		<li><%= @self.first_name %> <%= @self.last_name %></li>
		<li>Description : <%= @self.description %></li>
		<li><%= @self.email %></li>
		<li><%= @self.age %> ans</li>
	</ul>
</div>